:root {
    --primary-color: #055a05;
    /*forest green*/
    --secondary-color: blue;
    /*blue*/
    --accent1-color: #264653;
    /*dark slate blue*/

    --heading-font: "Times New Roman", "Georgia", Serif;
    --body-font: Arial, Helvetica, Sans-serif;
    --paragraph-color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #e1e5ea;
}

header img {
    grid-column: 2;
    height: 100px;
}

nav {
    grid-column: 4;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #bab79a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 20px;
    row-gap: 1px;
    padding: 20px;
    border: 2px solid #ccc;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.history h2 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.history img {
    grid-column: 2;
    grid-row: 2;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    height: auto;
}

.history p:first-of-type {
    grid-column: 1;
    grid-row: 2;

}

.history p:last-of-type {
    grid-column: 3;
    grid-row: 2;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    max-width: 840px;
    margin: 10px auto;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1;
    text-align: center;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.adventure-grid figure {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.adventure-grid img {
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

.adventure-grid figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    max-width: 840px;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-top: 2px;
    background-color: #e1e5ea;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer.socialmedia img {
    width: 24px;
    height: 24px;
}

.hero article {
    background-color: var(--accent1-color);
    color: var(--paragraph-color);
    position: absolute;
    bottom: 25px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section h2 {
    color: var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin-left: 10px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}