* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: Roboto, Aerial, Sans-serif;

}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 2px;
    font-size: 1.6rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

main p {
    border-top: 2px solid black;
}

footer p {
    text-align: center;
    border-top: 1px solid black;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
    text-indent: 0;
    text-align: left;
}

.grid {
    display: grid;
    align-items: centre;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
    padding: 20px;
    border: 2px solid#333;
}

aside {
    width: 20rem;
    margin: 1rem;
    padding: 20px;
    border: 2px solid #333;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside img {

    width: 200px;
    height: auto;
    margin: 15px;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 80px;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
    border-top: 1px solid #0000;

}

/* Class Selector*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #eee;
    color: #000;
    padding-left: 25px;
}

.box li {
    line-height: 25px;

}