* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: Roboto, Aerial, Sans-serif;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p {
    margin: 1rem;
}

i {
    color: darkblue;
    font-size: 30px;
    margin-left: 10px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    position: relative;

}

aside img {

    width: 200px;
    height: auto;
    margin: 15px;
}

aside h2 {
    position: absolute;
    top: 35px;
    left: 80px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #0000;
    text-align: center;
}

/* Class Selector*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}